@import"https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap";

header {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 150px
}

.logo img {
  width: 100%;
  display: block
}

.logo {
  width: 80px;
  height: 80px;
  padding: 14px 15px 15px;
  background-color: var(--deep-blue);
  border-radius: 80px;
  transform: translateY(50px);
  outline: 8px solid #282828;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

.logo h1 {
  color: #fff;
  position: absolute;
  width: 130px;
  font-size: 1.2rem;
  text-align: center;
  bottom: -35px;
  font-weight: 500
}

.logo>div {
  position: absolute;
  margin-top: 200px !important
}

#video {
  border: none;
  border-radius: 10px;
  outline: 3px solid #fff;
  width: 100%;
  aspect-ratio: 16/9;
  transform: translateY(100px);
  opacity: 0
}

.video-0 {
  animation: fadeIn .6s ease forwards
}

.video-1 {
  animation: fadeIn .6s ease .5s forwards
}

.video-2 {
  animation: fadeIn .6s ease 1s forwards
}

.video-3 {
  animation: fadeIn .6s ease 1.5s forwards
}

.video-4 {
  animation: fadeIn .6s ease 2s forwards
}

.video-5 {
  animation: fadeIn .6s ease 2.5s forwards
}

.video-6 {
  animation: fadeIn .6s ease 2.5s forwards
}

.video-7 {
  animation: fadeIn .6s ease 2.5s forwards
}

.video-8 {
  animation: fadeIn .6s ease 2.5s forwards
}

.video-9 {
  animation: fadeIn .6s ease 2.5s forwards
}

.video-10 {
  animation: fadeIn .6s ease 2.5s forwards
}
.video-11 {
  animation: fadeIn .6s ease 2.5s forwards
}
.video-12 {
  animation: fadeIn .6s ease 2.5s forwards
}
.video-13 {
  animation: fadeIn .6s ease 2.5s forwards
}
.video-14 {
  animation: fadeIn .6s ease 2.5s forwards
}
.video-15 {
  animation: fadeIn .6s ease 2.5s forwards
}
@keyframes fadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0
  }

  to {
    transform: translate(0);
    opacity: 1
  }
}

.videos__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 25px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto 100px
}

.loading {
  color: #fff;
  font-size: 2.5rem;
  animation: spin .5s linear infinite;
  margin: 100px auto 0;
  display: block
}

.error {
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 50px 0
}

.error>span {
  font-size: 4rem;
  display: block;
  margin-bottom: 10px
}

.error>p {
  font-size: 2rem;
  font-weight: 600
}

.error a {
  color: #fff;
  margin-left: 10px
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

@media screen and (min-width: 680px) {
  .videos__container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  }
}

.typewriter-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px
}

.typed-text {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: Roboto Mono, monospace;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px
}

.cursor {
  width: 15px;
  height: 4px;
  background-color: #fff;
  display: inline-block;
  transform: translate(-5px, 3px)
}

.blinking {
  animation: blinking .45s linear infinite
}

@keyframes blinking {
  0% {
    opacity: 1
  }

  50% {
    opacity: 1
  }

  51% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif
}

:root {
  --deep-blue: #071e55
}

body {
  background-color: #282828
}
